.jumbotron {
  background-color: transparent !important;
}

body {
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}

.form-container {
  background-color: rgba(0, 0, 0, 0.2);
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border: 2px solid;
  color: white;
}

.form-controls {
  margin: auto;
}

.form-component {
  background-color: rgba(0, 0, 0, 0);
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border: 2px solid;
  color: white;
}

.form-btn:hover {
  background-color: rgba(0, 0, 0, 0.3);
}