.game-container {
    min-height: 50vh;
}

.game-btn {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    border: 2px solid;
    color: white;
    height: 200px;
    width: 200px;
    font-size: 2em;
}

.game-btn:hover {
    background-color: rgba(0, 0, 0, 0);
}

.game-btn:focus {
    outline: none;
}

.logout-btn {
    background-color: rgba(0, 0, 0, 0.3);
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border: 2px solid;
    color: white;
    height: 50px;
}

.logout-btn:hover {
    background-color: rgba(0, 0, 0, 0);
}

.game-output {
    font-size: 2em;
    color: white;
}